<style>
body {
  background-color: #B925A0;

}
h1.a {
  color : #CBA939;
  font-size: 50px;
  font-style: italic;
  font-family: cursive;
  text-align: center;
  padding:20px 0px 40px 0px;

}
h1.a:hover {
  color:#25B4B9;
}
p.b {
  color: #CBA939;
  font-size: 20px;
  font-style: normal ;
  font-family: monospace;
  text-align: center;
}
p.c {
  float: left;
}
</style>
